{{! All code in this file is my own. }}

<nav>
	<h1>{{ title }}</h1>

	<ul class="nav-links">
		<li><a href="/app">Home</a></li>
		<li><a href="/app/car">Car</a></li>
		<li><a href="/app/driveline">Driveline</a></li>
		<li><a href="/app/fuel-type">Fuel Type</a></li>
		<li><a href="/app/mileage">Mileage</a></li>
		<li><a href="/app/transmission">Transmission</a></li>
	</ul>
</nav>
